<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>6iX-Shop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="/img/imagenes/index/marciano-min.png">

		<!-- CSS here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/flaticon.css">
        <link rel="stylesheet" href="/css/slicknav.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/css/themify-icons.css">
        <link rel="stylesheet" href="/css/slick.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!--<script type="text/javascript" src="/js/sixshop.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/img/imagenes/index/logo.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="/img/imagenes/index/mini-logo.jpeg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-5 col-md-4 col-sm-2">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                               
                                        <ul id="navigation">           
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/category">Category</a>
                                                <ul class="submenu">
                                                    <li><a href="/category/Movies">Movies</a></li>
                                                    <li><a href="/category/TVSeries">TV Series</a></li>
                                                    <li><a href="/category/Music">Music</a></li>
                                                    <li><a href="/category/Photography">Photography</a></li>
                                                    <li><a href="/category/Comics">Comics</a></li>
                                                    <li><a href="/category/Custom">Custom</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-8 col-lg-6 col-md-6 col-sm-6 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li>
                                        <div class="shopping-card">
                                            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                   <li class="d-none d-lg-block">
                                   		{{#user}}
                                        	{{#profile}}
                                            	<form action="/header" method="post">
                                                	<input class="btn header-btn" style="background-color:red" type="submit" value="Log Out">
                                                </form>
                                            {{/profile}}
                                            {{^profile}}
                                            	<a href="/profile" class="btn header-btn">{{nickname}}</a>
                                            {{/profile}}
                                        {{/user}}
                                        {{^user}} 
                                        	<a href="/login" class="btn header-btn">Login</a>
                                        {{/user}}
                                   	</li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
    </header>
    <!-- Header End -->